.experiences__container {
  display: flex;
  flex-direction: column;
}
.experience {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 200px;
  justify-content: center;
  img {
    width: 200px;
    height: 200px;
  }
}
