@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap");
.desing-about {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: auto;
  border-radius: 5px;
  background-color: #ecf0f1;
  -webkit-box-shadow: 0px 0px 38px -2px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 0px 38px -2px rgba(0, 0, 0, 0.46);
}

.desing-about ul {
  list-style-type: none;
}

.desing-about ul li {
  padding: 0px 15px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #2c3e50;
}

.desing-about ul li .social {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 40px;
}

.desing-about ul li:last-child {
  border-bottom: 0px;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.bg-green {
  background-color: #cc952e;
}

.c-white {
  color: #ecf0f1;
}

.c-black {
  color: #2c3e50;
}

.container {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .card {
  width: 310px;
  height: 380px;
  background-color: #f5f6fa;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 94px -45px black;
  box-shadow: 0px 0px 94px -45px black;
}

.container .card .image {
  width: 100%;
  height: 170px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container .card .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px 0px;
  border-bottom: 2px solid #718093;
}

.container .card .header .product-name {
  margin-left: 15px;
  padding: 3px;
  display: inline-block;
  width: 100%;
}

.container .card .header .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: colum;
          flex-direction: colum;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  margin-right: 15px;
  width: 160px;
  height: 20px;
  border: 1px solid #00a8ff;
}

.container .card .header .button p {
  color: #00a8ff;
  font-size: 12px;
}

.container .card .header .button:hover {
  background-color: #dcdde1;
}

.container .card .card-body .description {
  padding: 15px;
  font-size: 12px;
}

.container .card .card-body .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
}

.container .card .card-body .actions .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  width: 100%;
  height: 25px;
  cursor: pointer;
}

.container .card .card-body .actions .button a {
  font-size: 13px;
  color: black;
  text-decoration: none;
}

.experiences__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.titlepage {
  text-align: center;
  padding-top: 40px;
}
/*# sourceMappingURL=ExperiencesAll.css.map */