.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    #input-search {
        width: 230px;
        height: 30px;
        border-radius: 10px;
        border: 1px solid grey;
        padding-left: 5px;
        padding-right: 5px;
        background-color: whitesmoke;
        color: black;
        

    }
    .geolocationButton {
        background-color: transparent;
        border: 1px solid grey;
        border-radius: 10px;
        cursor: pointer;
    }

}