.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px;

}
.buscadorHome {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  
}

.portada {
  margin-top: -500px;
  width: 100vw;
  height: 200vh;
  object-fit: cover;
  z-index: -100;
}
.backroundImage {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 60%;
z-index: -1;  
object-fit: fill;

}
.navigator {
  background-color: transparent;
}
